#main {
    display: block

}
body {
    background: whitesmoke;

}
#content {
    height: fit-content;


}
.wrapper{
  width: 600px;
  display:block;
  /* overflow:hidden; */
  margin:0 auto;
  padding: 60px 50px;
  background:#eec9d2;
  border-radius:10px;
  margin-top: 20px;
}
canvas {
    height: 500px !important;
    width: 600px !important;
}
button, a {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: black;
    background: lightblue;
    border: none;
    font-family: Arial;
    font-size: 13px;


}
#showData, #hideData, #showAllSpeech, #showAllDebate, #showAllCongress, #codeData {
    margin: 10px auto;
}
a{
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

#showDataButtons {
    display: none;
}
#dat {
    display: none;
}