#main {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: "sidenav content";

}
body {
    background: whitesmoke;
    height: 100vw;

}
#cardDat {
    margin-left: -20px;
}
#lookup {
    margin-top: -250px;
}
.options {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 10px;
    background: none;

}
#sideNav {
    display: grid;
    grid-area: sidenav;
    background: lightblue;
    margin-top: 20px;
    border-radius: 10px;
    position: fixed;
    left:0;
    height: 90%;
    width: 20%;
}
#content {
    display: grid;
    grid-area: content;
    height: fit-content;


}
.wrapper{
  width: 600px;
  display:block;
  /* overflow:hidden; */
  margin:0 auto;
  padding: 60px 50px;
  background:#eec9d2;
  border-radius:10px;
  margin-top: 20px;
}
canvas {
    height: 500px !important;
    width: 600px !important;
}
button, a {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    color: black;
    background: lightblue;
    border: none;
    font-family: Arial;
    font-size: 13px;


}
#showData, #hideData, #showAllSpeech, #showAllDebate, #showAllCongress, #codeData {
    margin: 10px auto;
}
a{
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

#showDataButtons {
    display: none;
}
#dat {
    display: none;
}